.container100h {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  background: url("../img/bg1.jpg");
  background-position: center;
  background-size: cover; }

.assessoria {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 17px; }

.fundoTitulo {
  min-height: 175px;
  width: 100%;
  background: url("../img/contato.png");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1200px) {
    .fundoTitulo {
      background-size: cover; } }
  @media screen and (max-width: 990px) {
    .fundoTitulo {
      background-size: cover; } }
  @media screen and (max-width: 765px) {
    .fundoTitulo {
      background-size: cover; } }
  .fundoTitulo h1 {
    font-size: 32px;
    font-weight: bold;
    padding-top: 65px; }

.itemAss {
  background-color: #d5d5d5;
  text-align: center;
  padding: 15px;
  width: 31%;
  margin: 1%;
  float: left;
  font-size: 14px; }
  .itemAss a {
    color: black; }
  .itemAss a:hover {
    text-decoration: none; }
  @media screen and (max-width: 1200px) {
    .itemAss {
      width: 31%;
      height: 150px; } }
  @media screen and (max-width: 990px) {
    .itemAss {
      width: 48%; } }
  @media screen and (max-width: 765px) {
    .itemAss {
      width: 100%;
      text-align: center; } }

.internacional {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 17px;
  background-image: url("../img/mundi.jpg");
  background-size: cover;
  background-position: center;
  color: white; }

.fundoTituloLaranja {
  background-color: orange; }
  .fundoTituloLaranja h1 {
    color: black;
    margin: 0px; }
