$break-medium: 1200px;
$break-small: 990px;
$break-small-menu: 765px;
.container100h{
margin-right: auto;
margin-left: auto;
padding-left: 0px;
padding-right: 0px;
}
.clientes{
width:100%;
background-color: white;
}

.fundoTitulo {
    min-height: 175px;
    width: 100%;
    
    background: url("../img/tclientes.png");
      background-position: center top;
      background-size: 100%;
      background-repeat: no-repeat;
      @media screen and (max-width: $break-medium) {
    background-size:cover;
    }
      @media screen and (max-width: $break-small) {
    background-size:cover;
    }
       @media screen and (max-width: $break-small-menu) {
    background-size:cover;
    }
    
     h1 {
      font-size:32px;
      font-weight: bold;
      padding-top:65px;
    }

}

.black {
   background-color:black;
}

    .menu {
     
      background-color:black;
      padding:20px;
       @media screen and (max-width: $break-small-menu) {
position: static;
width: 100%;
height: auto;
padding:0px;
    }
      a {
        color:white;
        padding:20px;
        margin:3px;
        text-decoration: none;
        font-weight: bold;
        @media screen and (max-width: $break-small) {
padding-left:10px;
padding-right:10px;
}
        @media screen and (max-width: $break-small-menu) {
width: 100%;
float:left;
background-color: black;
padding-top:10px;
padding-bottom:10px;
    }
      }
      a:hover {
        color:#666666;
      }
    }

.boxJogador {
  background-color:white;
  padding:5px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
margin-bottom:29px;
@media screen and (max-width: $break-small) {
width:280px;
margin:0 auto;
margin-bottom:20px;
}
  .borda {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49627+0,b05719+100 */
background: #f49627; /* Old browsers */
background: -moz-linear-gradient(top,  #f49627 0%, #b05719 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f49627 0%,#b05719 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f49627 0%,#b05719 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49627', endColorstr='#b05719',GradientType=0 ); /* IE6-9 */
    padding:5px;

  }
  .escudo {
    position: absolute;
    padding-left:5px;
    img {
      height: 60px;
      width: auto;
      margin-top:-95px;
    }
  }
  .posicao {
background-image:url("../img/bgfaixa1.png");
background-position: right;
background-repeat: no-repeat;
position: absolute;
margin-top:-57px;
padding:5px;
padding-left:70px;
padding-right:15px;
color:white;
text-align: left;
font-size:11px;
font-weight: bold;
text-transform: uppercase;
  }
  .nome {
background-image:url("../img/bgfaixa2.png");
background-position: right;
position: absolute;
background-repeat: no-repeat;
margin-top:-32px;
color:white;
padding:5px;
padding-left:70px;
padding-right:20px;
font-size:16px;
font-weight: bold;
text-align: left;
text-transform: uppercase;
  }
}



.boxProf{
  background-color:white;
  padding:5px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
margin-bottom:29px;
  .borda {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49627+0,b05719+100 */
background: #f49627; /* Old browsers */
background: -moz-linear-gradient(top,  #f49627 0%, #b05719 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f49627 0%,#b05719 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f49627 0%,#b05719 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49627', endColorstr='#b05719',GradientType=0 ); /* IE6-9 */
    padding:5px;
  }

  .posicao {
background-image:url("../img/bgfaixa1.png");
background-position: right;
background-repeat: no-repeat;
position: absolute;
margin-top:-57px;
padding:5px;
padding-left:15px;
padding-right:15px;
color:white;
text-align: left;
font-size:11px;
font-weight: bold;
text-transform: uppercase;
  }
  .nome {
background-image:url("../img/bgfaixa2.png");
background-position: right;
position: absolute;
background-repeat: no-repeat;
margin-top:-32px;
color:white;
padding:5px;
padding-left:15px;
padding-right:20px;
font-size:16px;
font-weight: bold;
text-align: left;
text-transform: uppercase;
  }
}

.imgCliente {
width:100%;
height:300px;
object-fit: cover;
object-position: center top;
background-color: white;

@media screen and (max-width: $break-small) {
width:260px;
}
@media screen and (max-width: $break-small-menu) {
width:100%;
height:290px;
}
}

.buscaCliente {
  background-color:orange;
  padding:20px;
  margin-bottom:30px;
  .titulo {
    font-size:20px;
    font-weight: bold;
  }
  .form-control {
    -webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
@media screen and (max-width: $break-small) {
    margin-bottom:15px;
    }
  }
}

.boxEmpresa{
  background-color:white;
 
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);

height: 200px;
width: 300px;

display: table-cell;
    vertical-align: middle;
margin-bottom:30px;
padding-left:20px;
padding-right:20px;
@media screen and (max-width: $break-small) {
width:1000px;
}
@media screen and (max-width: $break-small-menu) {
width:1000px;
}
.nome {
background-image:url("../img/bgfaixa2.png");
background-position: right;
position: absolute;
background-repeat: no-repeat;
color:white;
padding:5px;
bottom:29px;
left:15px;
padding-left:20px;
padding-right:20px;
font-size:16px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
  }
.imgCliente {


    
}
  }