$break-medium: 1200px;
$break-small: 990px;
$break-small-menu: 765px;
.container100h{
margin-right: auto;
margin-left: auto;
padding-left: 0px;
padding-right: 0px;
min-height:100%;
background: rgba(189,189,189,1);
background: -moz-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(189,189,189,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#ffffff', GradientType=0 );padding-top:30px;
padding:0px;
margin:0px;
}
.cliente{
width:100%;
min-height:100%;
padding:0px;
margin:0px;
}

.fundoTitulo {
    min-height: 175px;
    width: 100%;
    background: url("../img/tclientes.png");
     background-size: 100%;
     background-position:top center;
     background-repeat: no-repeat;
      @media screen and (max-width: $break-medium) {
    background-size:cover;
    }
      @media screen and (max-width: $break-small) {
    background-size:cover;
    }
       @media screen and (max-width: $break-small-menu) {
    background-size:cover;
    }
h1 {
      font-size:32px;
      font-weight: bold;
      padding-top:65px;
    }
}


.boxJogador {
  background-color:white;
  padding:5px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.42);
margin-bottom:29px;

    margin-top: 29px;

  .borda {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49627+0,b05719+100 */
background: #f49627; /* Old browsers */
background: -moz-linear-gradient(top,  #f49627 0%, #b05719 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f49627 0%,#b05719 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f49627 0%,#b05719 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49627', endColorstr='#b05719',GradientType=0 ); /* IE6-9 */
    padding:5px;
  }
img {
    width: 100%;
}
}

h3 {
    margin-top:29px;
    font-size:26px;
    font-weight: bold;
     @media screen and (max-width: $break-small-menu) {
    margin-top:0px;
    }

}

.boxBranco {
    margin-top:20px;
    background-color:white;
    padding:25px;

}

.boxRedes {
    background-color:black;
    padding:15px;
    text-align: center;
    margin-bottom:25px;
    color:white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    img {
        width: 34px;
        height: auto;
        margin:6px;
    }
}

.nome {
    text-align: left;
    @media screen and (max-width: $break-small-menu) {
    text-align: center;
    }
}
.clube {
    text-align: right;
     @media screen and (max-width: $break-small-menu) {
    text-align: center;
    }
}

.fader {
    font-family: 'Coda', cursive;
/* Giving equal sizes to each element */
width:    100%;
height:   250px;
@media screen and (max-width: $break-small) {
    height: 350px;
    }
background-color:orange;
/* Positioning elements in lines */
display:  inline-block;

/* This is necessary for position:absolute to work as desired */
position: relative;

/* Preventing zoomed images to grow outside their elements */
overflow: hidden; }
.fader img {
/* Stretching the images to fill whole elements */
width: 100%;
height:100%;
/* Preventing blank space below the image */
line-height: 0;
/* A one-second transition was to disturbing for me */
-webkit-transition: all 0.3s ease;
-moz-transition:    all 0.3s ease;
-o-transition:      all 0.3s ease;
-ms-transition:     all 0.3s ease;
transition:         all 0.3s ease; }
.fader img:hover {
/* Making images appear bigger and transparent on mouseover */
opacity: 0.5;
width:   110%;
height:  110%; }
.tituloNoticia {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height:50px;
    margin-top:200px;
    background-color: rgba(0,0,0,0.8);
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    text-transform: uppercase;
     @media screen and (max-width: $break-medium) {
    height:70px;
    margin-top: 180px;
    }
    @media screen and (max-width: $break-small) {
    margin-top: 300px;
    }
   
}

.imgClube {
      height: 32px;
      width: auto;
    }
    .imgCliente {
      background-color: white;
    }


    .boxAssessor {
    background-color:orange;
    padding:15px;
    text-align: center;
    margin-top:30px;
    margin-bottom:25px;
    color:black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    img {
        width: 28px;
        height: auto;
        margin-top:6px;
        margin-right:6px;
    }
    .img-assessor {
      width: 75px;
      height: 75px;
      margin-top:26px;
    }
    .telefone {
      width: 100%;
      font-size: 15px;
      color:black;
    }
    .email {
      width: 100%;
    }
}

.tituloDesk {

@media screen and (max-width: $break-small) {
display:none;
}
}
.tituloMob {
display:none;
  @media screen and (max-width: $break-small) { 
display:block;
  }

}