.container100h {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  height: 100%; }

.erro404 {
  width: 100%;
  height: 100%;
  background-color: white; }

.branco {
  color: white; }
