$break-medium: 1200px;
$break-small: 990px;
$break-small-menu: 765px;

.container100h{
	  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
    height:100%;
}

.erro404{
    width:100%;
    height:100%;
    background-color: white;
   
}


.branco {
    color:white;
}