$break-medium: 1200px;
$break-small: 990px;
$break-small-menu: 765px;

.container100h{
	  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.eventos{
    width:100%;
    background-color: white;
  padding-top:35px;
    padding-bottom:35px;
    font-size:17px;
}

.fundoTitulo {
    min-height: 175px;
    width: 100%;
    background: url("../img/teventos.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    @media screen and (max-width: $break-medium) {
    background-size:cover;
    }
      @media screen and (max-width: $break-small) {
    background-size:cover;
    }
       @media screen and (max-width: $break-small-menu) {
    background-size:cover;
    }
    h1 {
      font-size:32px;
      font-weight: bold;
      padding-top:65px;
    }
}

.evento1 {
    background-color:#242424;
    padding-top:40px;
    padding-bottom:40px;
    color:white;
    img {
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    h3 {
         font-size:32px;
        font-family: 'Coda', cursive;
        font-weight: bold;
        color:white;
    }
}
.evento2 {
    padding-top:40px;
    padding-bottom:40px;
img {
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    h3 {
        font-size:32px;
        font-family: 'Coda', cursive;
        font-weight: bold;
    }
}
.evento3 {
    background-color:#242424;
    padding-top:40px;
    padding-bottom:40px;
    color:white;
    img {
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    h3 {
         font-size:32px;
        font-family: 'Coda', cursive;
        font-weight: bold;
        color:white;
    }
}

.evento4 {
    background-color:white;
    padding-top:40px;
    padding-bottom:40px;
    img {
        border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    h3 {
         font-size:32px;
        font-family: 'Coda', cursive;
        font-weight: bold;
    }
}